<!DOCTYPE html>
<html>
<head>
    <title>Dodaj post</title>
</head>
<body>
<h1>{{msg}}</h1>
<p>Dodaj post</p>
<form action='/~p11/wsgi/add' method='POST'>
    <div class="field">
        <label for="title">Tytuł</label>
        <input type="text" size="30" name="title" id="title"/>
    </div>
    <div class="field">
        <label for="text">Treść</label>
        <textarea name="text" id="text" rows="5" cols="80"></textarea>
    </div>
    <div class="control_row">
        <input type="submit" name="share" value="Podziel się"/>
    </div>
</form>
</body>
</html>
