<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Mikroblog</title>
</head>
<body>
<h1>{{ msg }}</h1>
<div class ='login'>
    %if not session.get('login'):
        <a href="/~p11/wsgi/login">Zaloguj się</a>
    %else:
        <a href="/~p11/wsgi/wyloguj">Wyloguj się</a>
        <a href="/~p11/wsgi/add">Dodaj post</a>
    %end
</div>
<div class="posty">
    %if len(posty) > 0:
        %for post in posty:
        <div class="post">
            <span class="title"><b>{{ post['title'] }}</b></span>
            <span class="text">{{ post['text'] }}</span>
        </div>
        %end
    %else:
        <h2>Brak postow</h2>
    %end
</div>
</body>
</html>