<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>
<h1>{{ msg }}</h1>

<form action="/~p11/wsgi/login" method="POST">
    <div class="field">
        <label for="username">Użytkownik</label>
        <input type="text" name="username" id="username"/>
    </div>
    <div class="field">
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div class="control_row">
        <input type="submit" name="login" value="Zaloguj się"/>
    </div>
</form>
</body>
</html>
