<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>


    {{ksiazka['title']}}><br/>
    {{ksiazka['author']}}<br/>
    {{ksiazka['isbn']}}<br/>
    {{ksiazka['publisher']}}<br/>
    </body>
</html>